# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### **Objectives:** 
- List popular languages for Data Science.
- List commonly used libraries for Data Science.
- List commonly used open-source Data Science Tools
- Work with markdown in jupyter notebooks
- Introduce simple arithmetic expressions in Python

## Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Jave
4. Julia
5. SQL
6. Scala
7. C++

## Some of the commonly used libraries used by Data Scientists include:
1. SciPy
2. Pandas
3. NumPy
4. MatplotlibSciPy

| Data Science Tools |
| --- |
| TensorFlow |
| Scikit |
|  Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [12]:
# Addition operation
1+3

4

In [13]:
# Multiplication operation
1.1+3.14

4.24

In [14]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [15]:
#  This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Frank Drautz